//-------------------------------------
//-- Site - Config - Design
//-------------------------------------

/* ... */

// Classic url
@mixin gabick-background-image {
	@include nwayo-bg-image-styles('small-logo-gabick.png', 'site');
}

$social-color: 							#99a9b5;
$footer-adjective-font-size: 			$common-title-size;
$footer-gabick-primary-color: 			#fc7f62;
$footer-gabick-secondary-color: 		#00adb5;

$paypal-yellow-color: 					#ffbc33;
