
#mobile_menu,  .opened #mobile_menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    max-height: 100%;
    z-index: 10;
    top: 0;
    border: none;
    overflow-y: auto;
    max-width: 100%;
    float: left;
    transition: all cubic-bezier(0.5, 0, 0, 1) 800ms;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-size: cover;
    background-repeat: no-repeat;
}

.opened #mobile_menu {
    transform: none;
}
.opened #mobile_menu a {
    transform: none;
    opacity: 1;
}
.opened #mobile_menu .menu-item:nth-child(1) a, .closed #mobile_menu .menu-item:nth-last-child(1) a {
    transition-delay: 100ms;
}

.opened #mobile_menu .menu-item:nth-child(2) a, .closed #mobile_menu .menu-item:nth-last-child(2) a {
    transition-delay: 200ms;
}

.opened #mobile_menu .menu-item:nth-child(3) a, .closed #mobile_menu .menu-item:nth-last-child(3) a {
    transition-delay: 300ms;
}

.opened #mobile_menu .menu-item:nth-child(4) a, .closed #mobile_menu .menu-item:nth-last-child(4) a {
    transition-delay: 400ms;
}

.opened #mobile_menu .menu-item:nth-child(5) a, .closed #mobile_menu .menu-item:nth-last-child(5) a {
    transition-delay: 500ms;
}

.opened #mobile_menu .menu-item:nth-child(6) a, .closed #mobile_menu .menu-item:nth-last-child(6) a {
    transition-delay: 600ms;
}
.mobile_nav.opened .mobile_menu_bar:before {
    content: '\4d';
    color: #fff;
    transition: all ease-in-out 300ms;
}
.mobile_nav.closed .mobile_menu_bar:before {
    transition: all ease-in-out 300ms;
}




/* Link animations */

#mobile_menu a {
    transform: translatey(100%);
    opacity: 0;
    transition: all cubic-bezier(0.5, 0, 0, 1) 800ms;
}

/* Menu animations */

.closed #mobile_menu {
    opacity: 0;
    pointer-events: none;
    transform: translatey(48px);
    transition-delay: 600ms;
}


