body {
	.blurb-column-top {
		position: relative;

		.et_pb_column {
			margin-bottom: 5em;

			@media #{bp(medium)} {
				margin-bottom: 6em;
			}

			@media #{bp(large)} {
				margin-bottom: 0;
			}

			.et_pb_blurb_position_top {
				position: initial;
				padding: 25% 2em !important;

				@media #{bp(medium)} {
					padding: 15% 2em !important;
				}

				@media #{bp(large)} {
					padding: 25% 2em !important;
				}

				&:hover {
					cursor: pointer;
				}

				.et_pb_blurb_content {
					position: initial;

					.et_pb_main_blurb_image {
						position: absolute;
						top: -18%;
						right: 0;
						left: 0;
						margin: 0 auto;
					}
				}
			}
		}
	}
}
