//-------------------------------------
//-- Site - Base
//-------------------------------------
body {
	a {
		@include common-link-styles();
	}

	h1 {
		margin: inherit;
	}

	#top-header {
		border-top: common-border($width:5);

		.container {
			width: 95%;
			height: 3.125em;
			padding-top: 0;

			@media #{bp(large)} {
				width: 90%;
			}

			ul.et-social-icons {
				display: inline-block;
				width: 50%;
				margin-right: 0;
				text-align: left;

				li a {
					color: $social-color;
				}
			}

			#et-secondary-menu {
				position: relative;
				top: 50%;
				display: block !important;
				width: 100%;
				transform: translateY(-50%);

				#et-secondary-nav {
					display: inline-block !important;
					width: 50%;
					text-align: right;

					@media #{bp(large)} {
						display: flex !important;
						float: right;
						width: auto;
					}

					.donation-link {
						margin-right: 0;

						@media #{bp(large)} {
							margin-right: 1em;
						}

						a {
							padding: .5em;
							border-radius: common-radius(button);
							margin-top: 0;
							background-color: $common-button-bg-color;

							&:hover {
								opacity: 1;
								background-color: $common-button-bg-color;
								color: $common-text-var3-color;
							}
						}
					}

					a {
						text-transform: uppercase;
					}

					.menu-item-type-wpml_ls_menu_item {
						display: none;

						@media #{bp(large)} {
							display: block;
						}
					}
				}

				li a {
					padding-bottom: 0;
					margin-top: .5em;
				}
			}
		}
	}

	#main-header {
		.logo_container {
			#logo {
				height: auto;
				max-height: 80%;
			}
		}

		#et-top-navigation {
			padding-left: 280px !important; // stylelint-disable-line unit-whitelist

			#top-menu-nav {
				.nav {
					.menu-item {
						padding-right: 14px; // stylelint-disable-line unit-whitelist
						font-size: $common-text-medium-tiny-size;
						text-transform: uppercase;

						&.jeunesse {
							width: 100px; // stylelint-disable-line unit-whitelist
							@media #{bp(large)} {
								top: 0;
								width: auto;
							}

							a {
								position: relative;
								top: 6px; // stylelint-disable-line unit-whitelist

								@media #{bp(large)} {
									top: 0;
								}
							}
						}

						a {
							width: 100%;
							padding-right: 0;
							font-weight: $common-text-fat-weight;
							text-align: center;

							&::after {
								top: 1.25em;
								width: 100%;
								color: $common-primary-color;
								text-align: center;
							}

							&:hover {
								color: $common-primary-color;

							}
						}

						.sub-menu {
							li {
								display: block;
								padding: 0;

								a {
									padding: .5em 1em .5em 3em;
									text-align: left;
								}
							}
						}
					}
				}
			}

			#mobile_menu {
				.sub-menu {
					li a {
						padding-left: 1em;
					}
				}
			}

		}
	}

	.container {
		width: 90%;
	}
}

@media #{bp(medium down)} {
	#et_mobile_nav_menu {
		display: block;
	}

	#top-menu {
		display: none;
	}
}
