a.et_pb_button {
	@include common-button-styles();

	&.et_pb_bg_layout_dark, &.et_pb_promo_button {
		@include common-button-styles($type:secondary);
	}

	&.et_pb_promo_button {
		&:hover {
			&::after {
				top: inherit;
			}
		}
	}
}
