//-------------------------------------
//-- Site - Fonts
//-------------------------------------

/* ... */
body {
	h1 {
		@include store-h1-styles();
	}

	h2 {
		@include store-h2-styles();
	}

	h3 {
		@include store-h3-styles();
	}

	.et_pb_fullwidth_header {
		.et_pb_fullwidth_header_container.center {
			.header-content-container {
				.header-content {
					width: 100%;
					max-width: 100%;

					h2 {
						@include store-h1-styles();
						font-weight: $common-text-base-weight;
					}

					.et_pb_button {
						margin: 1.25em 1em 0 0;
					}

				}
			}
		}
	}

	h4 {
		@include store-h1-styles();
	}

	h5 {
		@include store-h1-styles();
	}

	h6 {
		@include store-h1-styles();
	}
}
