body {
	.cclgbtq-blurb-column-left {
		.et_pb_blurb_position_left {
			&:hover {
				cursor: pointer;
			}

			.et_pb_main_blurb_image {
				display: block;
				width: 8.125em;
				margin: 0 auto 2em;

				@media #{bp(medium)} {
					display: table-cell;
					margin: 0;
				}
			}

			.et_pb_blurb_container {
				padding: 0 1em 0 2em;
			}

		}
	}

	.et_pb_team_member {
		.et_pb_team_member_image {
			width: 9.375em;
			margin: 0 auto 1em;

			@media #{bp(large)} {
				width: auto;
			}
		}
	}

	.et_pb_filterable_portfolio {
		.et_pb_portfolio_filters {
			.et_pb_portfolio_filter {
				a {
					@include store-h3-styles();
					padding: .625em .625em 0;
					border: 0;
					background: 0;
					font-size: $common-text-small-size !important;

					&.active {
						text-decoration: underline;
					}
				}
			}
		}

		.et_pb_portfolio_items_wrapper {
			.et_pb_grid_item {

				@media #{bp(large)} {
					width: 23% !important;
					margin-right: 2% !important;
					margin-bottom: 2% !important;
				}

				.gabick-project-custom-hover {
					transition: $common-hover-transition ease !important;

					&:hover {
						background-color: $common-primary-color;
						cursor: pointer;

						.gabick-project-content * { // stylelint-disable-line selector-max-universal
							color: $common-text-var3-color;
						}

						.et_overlay {
							z-index: common-zindex(min, 3);
							opacity: 1;
						}
					}

					.et_overlay {
						border: 0;
					}

					.gabick-project-content {
						padding: 1em;
					}
				}

				.et_pb_module_header {
					@include store-h3-styles();
					font-size: $common-text-medium-size !important;
					font-weight: $nwayo-semibold-weight;

					@media #{bp(medium)} {
						font-size: $common-text-medium-size !important;
					}

					a {
						font-weight: $nwayo-semibold-weight;
					}
				}

				.post-meta {
					color: $common-alt-color;
					font-weight: $nwayo-semibold-weight;
					font-style: italic;
				}

				.excerpt {
					margin: 1em 0 .5em !important;
					color: $common-base-color;
				}

				.address {
					color: $common-alt-color;
					font-style: italic;
				}
			}

		}
	}

	.paypal-column {
		.et_pb_module {
			margin-bottom: 1em !important;

			h3 {
				padding-bottom: 0 !important;
				color: $common-text-var3-color;
			}
		}

		.paypal-logo {
			img {
				width: 5.625em;
			}
		}

		input[type='radio'] + label {
			display: inline-block;
			padding: .375em .5em;
			margin: 0;
			background: $common-bg-color;

			&.active {
				background-color: $common-primary-color;
				color: $common-text-var3-color;
			}
		}

		input[type='radio'] {
			display: none;
		}

		input[type='submit'] {
			padding: 8px 24px !important; // stylelint-disable-line unit-whitelist
		}
	}
}
