//-------------------------------------
//-- admin-login - Config - Design
//-------------------------------------

body.login {
	@include nwayo-bg-image-styles('admin-login-background.jpg', 'admin-login');
	background-position: bottom;
	background-size: cover;

	#login {
		padding: 2% 0 0;

		@media #{bp(medium)} {
			width: 31.25em;
		}

		h1 a {
			@include nwayo-bg-image-styles('GabickLogo.svg', 'admin-login');
			width: 15.625em;
			height: 15.625em;
			background-size: contain;
		}
	}

	.message {
		border-left: common-border($width:4, $color:$admin-login-gabick-secondary-color);
	}

	input.button {
		width: 100%;
		border-color: transparent;
		margin-top: 1em;
		box-shadow: none;
		background-color: $admin-login-gabick-secondary-color;
		color: $common-button-text-color;
		font-weight: $common-text-fat-weight;
		text-shadow: none;

		&:hover {
			border-color: transparent;
			box-shadow: none;
			background-color: $admin-login-gabick-primary-color;
			text-shadow: none;
		}
	}

	input {
		&:checked {
			&::before {
				color: $admin-login-gabick-secondary-color;
			}
		}

		&:focus {
			border-color: $admin-login-gabick-secondary-color;
			outline: none;
			box-shadow: none;
		}
	}

	a {
		color: $admin-login-gabick-secondary-color !important;

		&:hover {
			color: $admin-login-gabick-primary-color !important;
		}
	}

	#nav {
		float: right;
		margin: 1em 0 0;
	}

	#backtoblog {
		float: left;
		margin: 1em 0 0;
	}
}
